* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.center {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


.row::after,
.row::before {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-23 {
    width: 95.83333333333334%;
}

.col-22 {
    width: 91.66666666666667%;
}

.col-21 {
    width: 87.5%;
}

.col-20 {
    width: 83.33333333333334%;
}

.col-19 {
    width: 79.16666666666667%;
}

.col-18 {
    width: 75%;
}

.col-17 {
    width: 70.83333333333334%;
}

.col-16 {
    width: 66.66666666666667%;
}

.col-15 {
    width: 62.50000000000001%;
}

.col-14 {
    width: 58.333333333333336%;
}

.col-13 {
    width: 54.16666666666667%;
}

.col-12 {
    width: 50%;
}

.col-11 {
    width: 45.833333333333336%;
}

.col-10 {
    width: 41.66666666666667%;
}

.col-9 {
    width: 37.5%;
}

.col-8 {
    width: 33.333333333333336%;
}

.col-7 {
    width: 29.166666666666668%;
}

.col-6 {
    width: 25%;
}

.col-5 {
    width: 20.833333333333336%;
}

.col-4 {
    width: 16.666666666666668%;
}

.col-3 {
    width: 12.5%;
}

.col-2 {
    width: 8.333333333333334%;
}

.col-1 {
    width: 4.166666666666667%;
}

a {
    text-decoration: none;
}

.right {
    text-align: right;
}

.nav-global {
    background: #545652;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.nav-global a {
    display: inline-block;
    color: #d5d5d5;
    padding: .5em .8em;
    font-size: 12px;
}

.nav-global a:hover {
    color: white;
}

.down {
    position: relative;

}

.app {
    position: absolute;
    background-color: #ffffff;
    width: 240px;
    box-shadow: 0px 0px 2px #000000;
    left: 79%;
    top: 0px;
    display: none;
}

.app:hover {
    display: block;
}

.app-title {
    display: block;
    padding-top: 170px;
    background: url("https://img3.doubanio.com/dae/accounts/resources/984c231/shire/assets/nav_doubanapp_6.png")no-repeat center;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.app-down {
    margin-top: 10px;
    display: block;

    text-align: center;
    padding-top: 160px;
    background: url("https://img3.doubanio.com/dae/accounts/resources/984c231/shire/assets/nav_doubanapp_6_qrcode.png") no-repeat center;
}

.app-down div {
    padding-top: 20px;

    margin-bottom: 10px;
}

.app-down div a {
    color: #37a;
}

.nav-page {
    background: #f0f6f3;

}

.logo {
    font-size: 28px;
    font-weight: 550;
    padding: 18px;
    vertical-align: -8%
}

.nav-page .col-16 a {
    color: #037b82;
}

.logo~a {
    display: inline-block;
    padding: 18px;
    font-size: 15px;

}

.logo~a:hover {
    color: #cccccc;
}

.nav-page .col-8 {
    text-align: right;
}

.search {
    margin-top: 13px;
    display: inline-block;
    padding: 14px;
    background: #ffffff;
    padding-top: 4px;
    padding-bottom: 5px;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #cccccc
}

button {
    width: 10px;
    height: 13px;
    border: none;
    background: #ffffff;
    background: url("https://img3.doubanio.com/f/shire/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png")no-repeat
}

button:focus {
    outline: none;
}
.main-content{
    position: relative;
}
.main-content::after{
    display: inline-block;
    width: 1000px;
    height: 1px;
    background: #d5d5d5;
     margin-top: 18em;
 }
.title {
    font-size: 26px;
    font-weight: 500px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.vote {
    text-align: right;
    padding-right: 28px;
}

.like {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #ca6445;
    background: #fae9da;
    padding: 9px;
    padding-right: 12px;
    padding-left: 12px;
}
.join-group{
    position: absolute;
    left: 48em;;
    padding-left: 50px;
}
.pipe{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #d5d5d5;
   
}
.pipe-bottom{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #d5d5d5;
    margin-bottom: 10px;
}
.pipe-top{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #d5d5d5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.discuss-title {
    display: inline-block;
    font-size: 15px;
    color: #37a;
    padding-bottom: 12px;
}

.discuss-preview {
    display: inline-block;
    background: #f9f9f9;
    padding: 10px;
}

.discuss-pic {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.discuss-pic-wrap {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -13px;
    left: -30px;
    text-align: center;
}

.discuss-img {
    min-width: 60px;
    min-height: 60px;
    vertical-align: middle;
}

.text {
    color: #aaaaaa;
    font-size: 13px;
}

.from {
    font-size: 13px;
    color: #666;
}

.from a {
    color: #666;
}

/* .pad{
    display: inline-block;
    padding: 20px;
} */
.from span{
    display: inline-block;
    padding: 10px;
    padding-left: 0;
}
.recommend-title{
    display: inline-block;
    font-size: 13px;
    padding-bottom: 5px;
}
.group-img{
    width: 50px;
    height: 50px;;
}
.group-name{
    font-size: 13px;
    color: #37a;
    vertical-align: top;
}
.join span{
    display: inline-block;
    padding-top: 10px;
    font-size: 13px;
}

.other{
    font-size: 14px;
}
.other-links{
    color: #37a;
}