.recommend {
    padding: 1rem;
}

.recommend .scopen {
    margin: .5rem;
    justify-content: space-around;
}

.recommend .recommend-title {
    font-size: 1.5rem;
    color: #6e220a;
    padding-bottom: .5rem;
}

.recommend .line {
    position: absolute;
    content: "";
    display: inline-block;
    background: #777777;
    width: 19%;
    height: 1px;
    ;
}

.recommend .scopen span {
    font-size: 80%;
    font-weight: 800;
    padding: .2rem;
    cursor: pointer;
}

.recommend .column a {
    font-size: 120%;
    padding: .4rem;
}

.recommend .column a:hover {
    border-bottom: 2px solid #6e220a;
}

.recommend .scopen span:hover,
.recommend .column a:hover,
.discuss .col-6 .img-name,
.discuss .preview .discuss-decs:hover,
.centered .text-title {
    color: #6e220a;
}

.discuss {
    padding: 2rem;
    background: #f9f9f9;
    margin-bottom: 2rem;
}

.discuss span ,.centered .label{
    color: #666666;
}

.discuss span:hover {
    color: #6e220a;
}

.discuss .col-6 .img-name {
    font-size: 110%;
    font-weight: 800;
}

.discuss .col-6 p:last-of-type {
    margin-bottom: 0;
}

.discuss .col-6 span {
    cursor: pointer;
    display: inline-block;
    padding-right: .5rem;
}

.discuss .col-6 span:last-of-type {
    padding-right: 0;
}

.discuss .preview {
    position: relative;
}

.discuss .others {
    position: absolute;
    right: 0;
    bottom: 0;
}

.discuss .others span {
    display: inline-block;
    padding: .5em;
}

.centered .text-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.centered .label span{
    display: inline-block;
    padding-left: 2em;
}
.text .content{
    font-weight: 600;
}

.text .separate{
    font-size: 1.3rem;
    padding-top: 2rem;
}