main .search {
    font-size: .9rem;
    letter-spacing: .06rem
}

main .search-bar {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

main .search input {
    font-weight: 600;
    padding: .5rem;
    font-size: .9rem;
    width: 87%;
    outline: none;
}

main a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

main .search button {
    position: relative;
    bottom: .1rem;
    padding: .6rem;
    width: 5%;
    font-size: .9rem;
}

main .result-group .result {
    padding-top: 2rem;
    line-height: 1.5rem;
}

main .search-term span,
main .result .result-title {
    font-weight: bold;
}